.container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav {
  background-color: #007fff;
  padding: 15px; }
  .nav a:hover {
    color: #FFF; }
  .nav-right {
    display: flex; }

.nav-left a {
  color: #fff;
  font-weight: bold; }

a.r-item {
  color: #C1C1C1;
  padding: 0.5rem 1.75rem; }

.nav-toggle span {
  background-color: #C1C1C1; }

.icon {
  height: auto;
  width: 100%; }

.button {
  background: black;
  color: white;
  border: none;
  border-radius: 30px; }
